# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Cache directory
cache/

# UI
node_modules/
dist/
package-lock.json

api.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database files
*.sqlite3
*.db

# Model artifacts
*.pkl
*.h5

# Data dumps
*.csv
*.xlsx

# Environment variables
.env
.env.*

# Logs
logs/
